.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.bg-gradient-secondary {
  background-color: #858796;
  background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
  background-size: cover;
}

.bg-gradient-success {
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
}

.bg-gradient-info {
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
  background-size: cover;
}

.bg-gradient-warning {
  background-color: #f6c23e;
  background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
  background-size: cover;
}

.bg-gradient-danger {
  background-color: #e74a3b;
  background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
  background-size: cover;
}

.bg-gradient-light {
  background-color: #f8f9fc;
  background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
  background-size: cover;
}

.bg-gradient-dark {
  background-color: #5a5c69;
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
  background-size: cover;
}

.vertical-center {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.no-decorations {
  list-style-type: none;
}

h1 {
  font-family: Ubuntu;
}

img {
  width: 20%;
  height: auto;
}

.wrapper-r {
  padding-top: 30%;
  padding-bottom: 25%;
}

@media screen and (min-width: 500px) {
  .wrapper {
    padding-top: 40%;
  }

  img {
    width: 50%;
  }

  h1 {
    font-size: 3em;
  }

  .bg-gradient-dark {
    background-color: rgb(43, 43, 43);
  }
  .wrapper-r {
    padding-top: 30%;
    padding-bottom: 30%;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    padding-top: 5%;
    padding-bottom: 15%;
  }

  img {
    width: 30%;
    height: auto;
  }
  h1 {
    font-size: 2.25em;
  }
  .wrapper-r {
    padding-top: 30%;
    padding-bottom: 25%;
  }
}

.active {
  font-weight: bolder;
}

.float-right {
  float: right !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

navbar > li {
  list-style: none;
}

.jumbotron > * {
  padding-left: 10%;
}

.jumbotron > hr {
  width: 70%;
  background-color: white;
}

small {
  font-style: italic;
}

form.centered {
  justify-content: center;
  text-align: center;
}

.centered {
  justify-content: center;
  text-align: center;
  flex: auto;
}

dark {
  background-color: #373840;
  column-rule: #c2cbe5;
}
