@font-face {
  font-family: LineIcons;
  src: url(/assets/fonts/LineIcons.eot);
  src: url(/assets/fonts/LineIcons.eot) format("embedded-opentype"),
    url(/assets/fonts/LineIcons.woff2) format("woff2"),
    url(/assets/fonts/LineIcons.woff) format("woff"),
    url(/assets/fonts/LineIcons.ttf) format("truetype"),
    url(/assets/fonts/LineIcons.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
.lni {
  display: inline-block;
  font: normal normal normal 1em/1 LineIcons;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lni-lg {
  font-size: 1.2em;
}
.lni-16 {
  font-size: 16px;
}
.lni-32 {
  font-size: 32px;
}
.lni-ul {
  padding-left: 0;
  list-style-type: none;
}
.lni-ul > li {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}
.lni-ul > li > .lni {
  margin-right: 0.4em;
  line-height: inherit;
}
@-webkit-keyframes lni-spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes lni-spin {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes lni-spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lni-bootstrap::before {
  content: "\ea3a";
}
.lni-chevron-left-circle::before {
  content: "\ea59";
}
.lni-chevron-left::before {
  content: "\ea5a";
}
.lni-chevron-right-circle::before {
  content: "\ea5b";
}
.lni-chevron-right::before {
  content: "\ea5c";
}
.lni-chevron-up-circle::before {
  content: "\ea5d";
}
.lni-chevron-up::before {
  content: "\ea5e";
}
.lni-coffee-cup::before {
  content: "\ea6e";
}
.lni-css3::before {
  content: "\ea80";
}
.lni-cup::before {
  content: "\ea81";
}
.lni-discord::before {
  content: "\ea90";
}
.lni-edge::before {
  content: "\ea9f";
}
.lni-home::before {
  content: "\eae7";
}
.lni-html5::before {
  content: "\eaea";
}
.lni-image::before {
  content: "\eaeb";
}
.lni-information::before {
  content: "\eaf0";
}
.lni-java::before {
  content: "\eaf9";
}
.lni-javascript::before {
  content: "\eafa";
}
.lni-layout::before {
  content: "\eb07";
}
.lni-lineicons-alt::before {
  content: "\eb11";
}
.lni-lineicons::before {
  content: "\eb12";
}
.lni-link::before {
  content: "\eb13";
}
.lni-list::before {
  content: "\eb16";
}
.lni-menu::before {
  content: "\eb29";
}
.lni-npm::before {
  content: "\eb37";
}
.lni-php::before {
  content: "\eb6b";
}
.lni-select::before {
  content: "\eb7d";
}
.lni-service::before {
  content: "\eb7f";
}
.lni-spinner::before {
  content: "\eb9c";
}
.lni-target::before {
  content: "\ebb8";
}
.lni-text-align-center::before {
  content: "\ebbd";
}
.lni-text-align-justify::before {
  content: "\ebbe";
}
.lni-text-align-left::before {
  content: "\ebbf";
}
.lni-text-align-right::before {
  content: "\ebc1";
}
.lni-windows::before {
  content: "\ebf4";
}
